.about-img-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-img-container img {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}

.project-links {
   display: flex;
   flex-direction: row;
}

.project-links h3 {
    padding-right: 30px;
    cursor: pointer;
}
.proj-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.proj-container img {
    height: auto;
    width: 500px;
	margin: 0 75px -5px 25px;
	transition: all 0.3s ease-out;
	position: relative;
	z-index: 2;

}

.proj-container:hover img{
	transform: scale(1.2, 1.2);
	z-index: 9;
}

.personal-links i {
   font-size: 40px;
   display: flex;
   flex-direction: column;
}

.link-text {
    font-size: 15px;
}

